html, body {
        background-image: url(diagmonds_@2X.png);
        background-size: 141px 142px;  
        font-family: "Oxygen"; 
        font-weight: 300; 
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 970px;
      }

      /* Header */
      .header {
        color: #fff;
      }

      .header ul {
        list-style: none;
      }

      .header li {
        display: inline;
        margin-right: 30px;
      }

      /* Jumbotron */
      .jumbotron {
        background-color: #000;
        height: 600px; 
      }

      .jumbotron h1 {
        color: #fff;
        font-weight: 300; 
        margin-top: 80px; 
        margin-bottom: 40px;  
      }

      .jumbotron .btn {
        color: #0393ff;
        background: transparent;
        border: 1px solid #0393ff;
        border-radius: 2px; 
        padding: 8px 20px;
      }

      .jumbotron .btn:hover {
        color: #fff;
        background-color: #0393ff; 
      }

      form {
        margin-top: 80px;
      }

      .form-control {
        background:transparent; 
        border: 0; 
        border-radius: 0; 
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 18px; 
        margin: 0 20px; 
        width: 400px;
      }

      .form-control:hover {
        border-bottom: 1px solid #0393ff;
      }

      .form-control:focus {
        border-bottom: 1px solid #0393ff;
        box-shadow: 0 0 0; 
        outline: 0;
      }

      /* Supporting */
      .main,
      .supporting h2,
      .supporting p,
      .feature {
        text-align: center;
        color: #fff;
      }

      .supporting {
        padding-bottom: 80px; 
      }

      .supporting h2, .feature h1 {
        color: #0393ff;
        margin-top: 60px; 
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: 300;
      }

      .supporting p {
        margin-bottom: 45px;
        font-size: 16px;
      }

      .supporting .thumbnail {
        background: transparent; 
        border: none;
        padding: 0;
      }

      /* Feature */
      .feature {
        background: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg) no-repeat center center;
        background-size: cover; 
        height: 380px;
        padding: 100px 0 0 0;
      }

      .feature p {
        font-size: 18px; 
      }

      .footer {
        background: #000;
        padding: 60px 0; 
      }

      .footer h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 300;  
      }

      .footer ul {
        color: #0393ff; 
        list-style: none;
        padding-left: 0;  
      }

      @media (max-width: 770px) {
        .pull-right {
          margin: 30px auto;
          width: 100%;
        }

        .header ul {
          margin: 0 auto;
          padding: 0;
          width: 100%;
        }

        .header li {
          display: block;
          float: left;
          line-height: 38px;
          margin: 0;
          text-align: center;
          width: 50%;
        }

        .header li a {
          display: block;
          float: left;
          margin: 0;
          text-align: center;
          width: 100%;
        }

        .form-control {
          margin: 0 auto;
          width: 100%;
        }
      }